@import vars
@import fonts
@import libs

* 
	box-sizing: border-box

ul 
	list-style: none
	margin: 0
	padding: 0

p 
	margin: 0
	padding: 0	

h1, h2 
	margin: 0
	padding: 0

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: 'Roboto', sans-serif
	overflow-x: hidden
	color: $text

.img-responsive
	display: block
	max-width: 100%
	height: auto

.btn
	background: #FFF602
	font-family: Montserrat, sans-serif
	font-weight: bold
	border-radius: 98px
	border: none
	outline: none
	text-transform: uppercase
	cursor: pointer
	transition: opacity .3s 
	&:hover
		opacity: .7

.btn--gray
	background-color: #D7D7D7

.container
	max-width: 1030px
	margin:
		left: auto
		right: auto
	padding-left: 15px
	padding-right: 15px

.header
	&__logo
		text-align: center
		margin-top: 142px
		&-img
			vertical-align: bottom
	&__content
		height: 193px
		border: 1px solid #0055D3
		border-radius: 15px
		overflow: hidden

.header-top
	display: flex
	justify-content: space-between
	background: linear-gradient(0deg, rgba(0, 85, 211, 0.9), rgba(0, 85, 211, 0.9))
	height: 127px
	&__btn
		width: 206px
		height: 51px
		margin-top: 39px
		margin-left: 29px
		font-size: 14px
		line-height: 17px
	&__list
		display: flex
		margin-top: 30px
	&__item
		width: 36px
		height: 36px
		color: #ffffff
		margin-right: 64px
		&:last-child
			margin-right: 78px
	&__link
		display: flex
		flex-direction: column
		align-items: center
		color: #ffffff
		text-decoration: none
		transition: opacity .3s 
		&:hover
			opacity: .7
	&__text
		margin-top: 9px
		font-size: 13px
		font-family: Montserrat, sans-serif
		font-weight: normal
		line-height: 180%

.tab-menu
	display: none

.header-top__item
	&:hover
		.tab-menu
			position: relative
			display: block
			z-index: 100	
			width: 636px
			min-height: 100px
			background: #eaeaea
			font-family: "Montserrat",sans-serif
			font-size: calc(12px + .5rem)
			margin-top: 29px
			padding: 13px
			li > a 
					color: #575757



.header-bottom
	height: 66px
.header-nav
	&__list
		display: flex
		justify-content: center
		align-items: center
		margin-top: 20px
	&__item
		flex-basis: 152px
		height: 20px
	&__link
		color: #000
		text-decoration: none
		font-family: Montserrat, sans-serif
		font-weight: normal
		line-height: 17px
		text-transform: uppercase
		transition: opacity .3s 
		&:hover
			opacity: .7


.product
	&__content-wrapper
		margin-top: 41px
		padding: 47px 90px 100px 90px
		border-radius: 15px
		box-shadow: 10px 0px 60px rgba(0, 4, 82, 0.16)
	&__content
		padding-bottom: 40px
		display: flex
		border-bottom: 1px solid #D8D8D8
	&__imgs
		display: flex
		flex-direction: column
		align-items: center
		flex-basis: 50%
	&__img
		max-width: 100%
	&__single
		margin-bottom: 39px
		cursor: pointer
	&__imgs-min
		display: flex
	&__description
		flex-basis: 50%
	&__title
		margin-bottom: 55px
		font-family: Montserrat, sans-serif
		font-weight: bold
		font-size: 24px
		line-height: 150%
		position: relative
		&:after
			content: ''
			position: absolute
			width: 90%
			background-color: #DDDDDD
			height: 3px
			bottom: -31px
			left: 0
	&__subtitle
		font-family: Montserrat, sans-serif
		font-weight: normal
		font-size: 12px
		line-height: 180%
		color: rgba(56, 56, 56, .7)
	&__weight
		margin-top: 15px
		font-family: Montserrat, sans-serif
		font-weight: bold
		span 
			font-weight: normal

.imgs-min
	&__wrapper
		margin-right: 23px
		cursor: pointer
	&__picture
		max-width: 100%


.card-product
	&__title
		margin-top: 60px
		font-family: Montserrat, sans-serif
		text-align: center
		font-size: 42px
		line-height: 140%
		color: #000000
	&__list
		margin-top: 56px
		display: flex
		justify-content: space-between
		align-items: center
	&__item
		display: flex
		flex-direction: column
		justify-content: space-between
		max-width: 240px
		height: 405px
		padding: 14px
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08)
	&__desc
		margin-top: 31px
		font-family: Montserrat, sans-serif
		font-weight: bold
		font-size: 16px
		line-height: 130%
		text-align: center
	&__price
		font-family: Montserrat, sans-serif
		font-weight: bold
		font-size: 28px
		line-height: 150%
		color: #8C8C8C
		text-align: center
		margin-bottom: 5px
	&__btn
		border-radius: 100px
		padding: 10px
		
.all-products
	&__content
		margin-top: 41px
		padding: 47px 90px 100px 90px
		box-shadow: 10px 0px 60px rgba(0, 4, 82, 0.16)
		border-radius: 15px
	&__top
		height: 422px
		border-bottom: 1px solid #D8D8D8
		background: no-repeat url("../img/product/bg-all-products.png")
		background-size: contain
		border-radius: 15px 15px 0px 0px


.brands
	&__img
		max-width: 100%
	&__list
		display: flex
		align-items: center
		margin-bottom: 50px
	&__item
		margin-left: 28px
	&__btn
		padding: 16px 45px
		max-width: 232px
		height: 58px

.about
	margin-top: 70px
	&__content
		height: 472px
		background: no-repeat url("../img/product/bg-about.png")
		background-size: contain
	&__wrapper
		max-width: 469px
		height: 352px
		margin-left: 35px
	&__title
		padding-top: 73px
		font-family: Montserrat, sans-serif
		font-weight: bold
		font-size: 42px
		line-height: 140%
		color: #FFFFFF
		text-align: center
	&__subtitle
		font-family: Montserrat, sans-serif
		font-size: 14px
		line-height: 230%
		color: #FFFFFF
		text-align: center


.policies
	&__title
		font-family: Montserrat, sans-serif
		font-weight: bold
		font-size: 42px
		line-height: 140%
		text-align: center
		color: #000000
		margin-bottom: 51px
	&__list
		text-align: center
		width: 100%
		margin-bottom: 27px
	&__link	
		text-decoration: none
		display: flex
		flex-direction: column
		align-items: center
	&__item
		display: flex
		flex-direction: column
		align-items: center
	&__img
		margin-bottom: 22px
	&-tab
		&__title
			text-align: center
	


label
	cursor: pointer
	margin-right: 5px
	display: inline-block
	padding: 10px 20px

input
	display: none

.tabs
	position: relative
	height: 290px

.tabs
	margin-top: 27px
	&__block
		width: 845px
		height: 283px
		position: absolute
		top: 0
		left: 0
		background-color: #fff
		padding: 30px
		font-family: Montserrat, sans-serif
		font-size: 14px
		line-height: 180%
		color: #8A8A8A
		background: #FDFCFC
		border: 1px solid #E2E2E2
		text-align: left
		display: none
		
	
	
.tab_01
	&::before
			content: ""
			display: block
			position: absolute
			top: -11px
			left: 100px
			width: 0
			height: 0
			border-left: 11px solid transparent
			border-right: 11px solid transparent
			border-bottom: 10px solid #979797

.tab_02
	&::before
			content: ""
			display: block
			position: absolute
			top: -11px
			left: 212px
			width: 0
			height: 0
			border-left: 11px solid transparent
			border-right: 11px solid transparent
			border-bottom: 10px solid #979797

.tab_03
	&::before
			content: ""
			display: block
			position: absolute
			top: -11px
			left: 330px
			width: 0
			height: 0
			border-left: 11px solid transparent
			border-right: 11px solid transparent
			border-bottom: 10px solid #979797

.tab_04
	&::before
			content: ""
			display: block
			position: absolute
			top: -11px
			left: 448px
			width: 0
			height: 0
			border-left: 11px solid transparent
			border-right: 11px solid transparent
			border-bottom: 10px solid #979797


.tab_05
	&::before
			content: ""
			display: block
			position: absolute
			top: -11px
			left: 583px
			width: 0
			height: 0
			border-left: 11px solid transparent
			border-right: 11px solid transparent
			border-bottom: 10px solid #979797


.tab_06
	&::before
			content: ""
			display: block
			position: absolute
			top: -11px
			left: 720px
			width: 0
			height: 0
			border-left: 11px solid transparent
			border-right: 11px solid transparent
			border-bottom: 10px solid #979797


	
input:checked + label
	color: red

input[id="tab_01"]:checked ~ .tabs > .tab_01,
input[id="tab_02"]:checked ~ .tabs > .tab_02,
input[id="tab_03"]:checked ~ .tabs > .tab_03,
input[id="tab_04"]:checked ~ .tabs > .tab_04,
input[id="tab_05"]:checked ~ .tabs > .tab_05,
input[id="tab_06"]:checked ~ .tabs > .tab_06,
	display: block

	
.footer
	margin-bottom: 309px
	&__content
		margin-top: 41px
		padding: 40px 90px 40px 90px
		box-shadow: 10px 0px 60px rgba(0, 4, 82, 0.16)
		border-radius: 15px
	&__paymants
		font-family: Open Sans , sans-serif
		font-size: 14px
		line-height: 19px
		text-align: center
		color: #979797
		display: flex
		justify-content: center
		align-items: center
	&__copyright
		margin-top: 39px
		text-align: center
		font-family: Open Sans , sans-serif
		font-size: 14px
		line-height: 200%
		color: #000000


.paymants
	&__title
		margin-right: 5px


@media (max-width: 1024px)
	.header-top__btn
		font-size: 12px
		width: 150px
	.header-top__item
		margin-right: 45px
	.header-nav__item
		flex-basis: 15%
	.header-nav__link
		font-size: 12px
	.product__content
		flex-direction: column
	.card-product__title
		font-size: 32px
	.card-product__list
		flex-direction: column
	.card-product__item
		margin-bottom: 15px
	.about__content
		background: #0055D3
	.about__wrapper
		margin: auto
	.about__title
		font-size: 32px
	.about__subtitle
		font-size: 12px
	.policies
		display: none
		

@media (max-width: 902px)
	.all-products__top
		background: #fff
	.brands
		text-align: center
	.brands__logo
		text-align: center
	.brands__list
		justify-content: center
	
@media (max-width: 768px)
	.header-top__btn
		margin: auto
	.header-top__list
		display: none
	.about__wrapper
		padding: 15px
		
@media (max-width: 670px)
	.header-nav__link
		font-size: 10px

@media (max-width: 500px)
	.product__imgs-min
		flex-wrap: wrap
	.header-nav__list
		display: none
	.product__title
		font-size: 12px
	.about
		display: none

@media (max-width: 482px)
	.header__logo
		display: none